$primary-color: #008add;
$color_1: #252525;
$color_4: #252020;
$color_5: #454545;
$color_6: #575757;
$color_7: #f9f9f9;
$color_10: #ff3;
$color_11: #909090;
$color_12: #3f51b5;
$color_13: #808080;
$color_14: #d9d9d9;
$background-color_1: transparent;
$background-color_3: rgba(20, 20, 20, 0.2);
$border-color_1: transparent;

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
html {
	-webkit-font-smoothing: antialiased;
}
a {
	color: $color_1;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	text-decoration: none !important;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	&:hover {
		color: $primary-color;
		outline: none;
	}
	&:active {
		color: $primary-color;
		outline: none;
	}
	&:focus {
		color: $primary-color;
		outline: none;
	}
}
input {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
button {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.form-control {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: black;
}
.section-title {
	padding-bottom: 40px;
	h2 {
		margin: 0;
	}
	small {
		display: block;
	}
}
.overlay {
	background: rgba(20, 20, 20, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.entry-form {
	background: $color_4;
	border-radius: 100%;
	text-align: center;
	padding: 6em;
	width: 450px;
	height: 450px;
	h2 {
		color: white;
		margin: 0;
	}
	.form-control {
		background: transparent;
		border: 0;
		border-bottom: 1px solid;
		border-radius: 0;
		box-shadow: none;
		height: 45px;
		margin: 10px 0;
	}
	.submit-btn {
		background: white;
		border-radius: 50px;
		border: 0;
		color: $color_4;
		width: 50%;
		height: 50px;
		margin: 30px auto;
		margin-bottom: 10px;
		&:hover {
			background: $color_12;
			color: white;
		}
	}
}
section {
	position: relative;
	padding: 100px 0;
}
#team {
	background: $color_7;
	text-align: center;
}
#testimonial {
	background: $color_7;
	text-align: center;
	.item {
		background: white;
		margin: 20px 0;
		padding: 4em 3em;
		text-align: left;
		> p {
			font-size: 16px;
			line-height: 26px;
		}
	}
	.col-md-4 {
		display: block;
		width: 100%;
	}
}
#google-map {
	iframe {
		border: 0;
		width: 100%;
		height: 390px;
	}
}
.section-btn {
	background: transparent;
	border-radius: 50px;
	border: 1px solid white;
	color: white;
	font-size: inherit;
	font-weight: normal;
	padding: 15px 30px;
	transition: 0.5s;
	&:hover {
		background: white;
		border-color: $border-color_1;
	}
}
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background: none repeat scroll 0 0 white;
}
.spinner {
	border: 1px solid transparent;
	border-radius: 3px;
	position: relative;
	&:before {
		content: "";
		box-sizing: border-box;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 45px;
		height: 45px;
		margin-top: -10px;
		margin-left: -10px;
		border-radius: 50%;
		border: 1px solid $color_6;
		border-top-color: white;
		animation: spinner 0.9s linear infinite;
	}
}
.custom-navbar {
	background: white;
	border-top: 5px solid $primary-color;
	border-bottom: 0;
	-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	padding: 12px 0;
	margin-bottom: 0;
	padding: 0;
	.navbar-brand {
		color: $color_5;
		font-size: 18px;
		font-weight: bold;
		line-height: 40px;
	}
	.navbar-nav.navbar-nav-first {
		margin-left: 8em;
	}
	.navbar-nav.navbar-right {
		li {
			a {
				padding-right: 12px;
				padding-left: 12px;
				display: flex;
				align-items: center;
				.fa {
					background: $primary-color;
					border-radius: 100%;
					color: white;
					width: 30px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 5px;
				}
			}
		}
	}
	.nav {
		li {
			a {
				line-height: 40px;
				color: $color_6;
				padding-right: 22px;
				padding-left: 22px;
				&:hover {
					background-color: $primary-color;
					color: white;
				}
			}
		}
		li.active {
			> a {
				background-color: $primary-color;
				color: white;
			}
		}
	}
	// .navbar-nav {
	// 	> li {
	// 		> a {
	// 			&:hover {
	// 				background-color: $background-color_1;
	// 			}
	// 			&:focus {
	// 				background-color: $background-color_1;
	// 			}
	// 		}
	// 	}
	// }
	.navbar-toggle {
		border: none;
		padding-top: 10px;
		background-color: $background-color_1;
		.icon-bar {
			background: $color_1;
			border-color: $border-color_1;
		}
	}
}
#home {
	padding: 0;
	h1 {
		color: white;
	}
	h3 {
		color: $color_7;
		font-size: 16px;
		font-weight: 300;
		margin: 0;
		padding: 5px 0 40px 0;
	}
}
.home-slider {
	.caption {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: left;
		background-color: $background-color_3;
		height: 100%;
		color: white;
		cursor: e-resize;
	}
	.item {
		background-repeat: no-repeat;
		background-attachment: local;
		background-size: contain;
		height: 650px;
		background-position: center;
	}
	.item-first {
		background-image: url(../../public/images/background.jpg);
	}
	.item-second {
		background-image: url(../../public/images/slider-image-2.jpeg);
	}
	.item-third {
		background-image: url(../../public/images/slider-image3.jpeg);
	}
}
.caption {
	h3 {
		a {
			color: white;
			&:hover {
				color: $color_10;
			}
		}
	}
}
.feature-thumb {
	border: 1px solid #f0f0f0;
	padding: 5em 3em;
	span {
		background: $color_12;
		border-radius: 50px;
		color: white;
		font-size: 25px;
		font-weight: bold;
		display: inline-block;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		margin-bottom: 5px;
	}
	h3 {
		margin: 10px 0;
	}
}
#about {
	figure {
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
		span {
			float: left;
			margin-left: -15px;
			padding: 15px 20px;
			position: relative;
			top: 20px;
			i {
				background: #2954ca;
				border-radius: 50px;
				color: white;
				font-size: 25px;
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
			}
		}
	}
}
.team-thumb {
	background: white;
	position: relative;
	overflow: hidden;
	text-align: left;
	.social-icon {
		border-top: 1px solid #f0f0f0;
		padding: 4px 20px 0 20px;
		li {
			a {
				background: white;
				color: $color_4;
			}
		}
	}
}
.team-info {
	padding: 20px 30px;
	h3 {
		margin: 0;
	}
}
.team-image {
	img {
		width: 100%;
	}
}
#courses {
	.section-title {
		text-align: center;
	}
	.owl-theme {
		.owl-nav {
			margin-top: 30px;
			[class*="owl-"] {
				border-radius: 2px;
				font-size: 16px;
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				padding: 0;
			}
		}
	}
	.col-md-4 {
		display: block;
		width: 100%;
	}
}
.courses-thumb {
	background: $color_7;
	position: relative;
}
.courses-top {
	position: relative;
}
.courses-image {
	background: linear-gradient(to right, #202020, #101010);
}
.courses-date {
	background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 20px 25px;
	span {
		font-size: 14px;
		font-weight: bold;
		color: white;
		display: inline-block;
		margin-right: 10px;
	}
}
.courses-author {
	span {
		font-size: 14px;
		font-weight: bold;
		display: inline-block;
		vertical-align: middle;
	}
	display: inline-block;
	vertical-align: middle;
	img {
		display: inline-block !important;
		border-radius: 50px;
		width: 50px !important;
		height: 50px;
		margin-right: 10px;
	}
}
.courses-detail {
	padding: 25px 25px 15px 25px;
	h3 {
		margin: 0 0 2px 0;
	}
}
.courses-info {
	border-top: 1px solid #f0f0f0;
	position: relative;
	clear: both;
	padding: 15px 25px;
}
.courses-price {
	float: right;
	margin-top: 10px;
	span {
		background: $primary-color;
		border-radius: 2px;
		color: white;
		display: block;
		padding: 5px 10px;
	}
}
.courses-price.free {
	span {
		background: $color_12;
	}
}
.news-thumb {
	clear: both;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	.news-image {
		float: left;
		width: 40%;
		margin-right: 30px;
	}
}
.news-info {
	h3 {
		margin-top: 5px;
		margin-bottom: 10px;
	}
}
.news-date {
	span {
		color: $color_11;
		font-weight: bold;
	}
}
.tst-rating {
	margin-bottom: 15px;
	.fa {
		color: $color_12;
	}
}
.tst-image {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
	text-align: left;
	img {
		border-radius: 50px;
		width: 60px !important;
		height: 60px;
		margin-right: 15px;
	}
}
.tst-author {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
	text-align: left;
	h4 {
		margin: 0;
	}
	span {
		color: $color_13;
		font-size: 14px;
	}
}
#contact {
	background: $color_12;
	h2 {
		color: white;
		> small {
			color: $color_7;
		}
	}
	.section-title {
		padding-bottom: 20px;
	}
	p {
		color: $color_7;
	}
	a {
		color: $color_7;
	}
}
#contact-form {
	padding: 1em 0;
	.col-md-12 {
		padding-left: 0;
	}
	.col-md-4 {
		padding-left: 0;
	}
	.form-control {
		border: 0;
		border-radius: 5px;
		box-shadow: none;
		margin: 10px 0;
	}
	input {
		height: 50px;
	}
	input[type="submit"] {
		border-radius: 50px;
		border: 1px solid transparent;
		&:hover {
			background: transparent;
			border-color: white;
			color: white;
		}
	}
}
footer {
	background: $color_4;
	padding: 120px 0;
	.section-title {
		padding-bottom: 10px;
	}
	h2 {
		font-size: 20px;
	}
	a {
		color: $color_11;
	}
	p {
		color: $color_11;
	}
	strong {
		color: $color_14;
	}
	address {
		p {
			margin-bottom: 0;
		}
	}
	.social-icon {
		margin-top: 25px;
	}
}
.footer-info {
	margin-right: 2em;
	h2 {
		color: white;
		padding: 0;
	}
}
.footer_menu {
	h2 {
		margin-top: 2em;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		list-style: none;
		margin: 5px 10px 5px 0;
	}
}
.newsletter-form {
	.form-control {
		background: transparent;
		border-radius: 0;
		box-shadow: none;
		border: 0;
		border-bottom: 1px solid #303030;
		height: 50px;
		margin: 5px 0;
	}
	input[type="submit"] {
		background: transparent;
		border: 1px solid $color_7;
		border-radius: 50px;
		color: white;
		display: block;
		margin-top: 20px;
		outline: none;
		width: 50%;
		&:hover {
			background: $primary-color;
			border-color: $border-color_1;
		}
	}
	.form-group {
		span {
			color: $color_11;
			display: block;
			font-size: 12px;
			margin-top: 20px;
		}
	}
}
.social-icon {
	position: relative;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	li {
		display: flex;
		list-style: none;
		margin-bottom: 5px;
		a {
			border-radius: 100px;
			color: $primary-color;
			width: 35px;
			height: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			text-align: center;
			transition: all 0.4s ease-in-out;
			position: relative;
			margin: 5px 5px 5px 0;
			&:hover {
				background: $primary-color;
				color: white;
			}
		}
	}
}
@media (min-width: 768px) {
	.home-slider {
		.col-md-6 {
			padding-left: 0;
		}
	}
}
@media screen and (max-width: 1170px) {
	.custom-navbar {
		.navbar-nav.navbar-nav-first {
			margin-left: inherit;
		}
	}
}
@media only screen and (max-width: 992px) {
	section {
		padding: 60px 0;
	}
	footer {
		padding: 60px 0;
	}
	.home-slider {
		.item {
			background-position: center center;
		}
	}
	.feature-thumb {
		margin-bottom: 50px;
	}
	.about-info {
		margin-bottom: 50px;
	}
	.team-thumb {
		margin-bottom: 50px;
	}
	.footer-info {
		margin-bottom: 50px;
	}
	.contact-image {
		margin-top: 50px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.custom-navbar {
		.nav {
			li {
				a {
					padding-right: 10px;
					padding-left: 10px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 2.5em;
		line-height: normal;
	}
	h2 {
		line-height: normal;
	}
	h3 {
		line-height: normal;
	}
	.custom-navbar {
		background: white;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		padding: 10px 0;
		text-align: center;
		.navbar-brand {
			line-height: normal;
			color: $color_1;
			font-weight: 600;
			padding: 0px 15px;
		}
		.nav {
			li {
				a {
					line-height: normal;
					padding: 10px;
					color: $color_6;
				}
			}
		}
		.navbar-nav.navbar-right {
			li {
				display: inline-block;
			}
		}
	}
	.top-nav-collapse {
		.navbar-brand {
			color: $color_1;
			font-weight: 600;
		}
		.nav {
			li {
				a {
					color: $color_6;
				}
			}
		}
	}
	.footer-info {
		margin-right: 0;
	}
	.footer-info.newsletter-form {
		margin-bottom: 0;
	}
	.entry-form {
		display: block;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 580px) {
	h2 {
		font-size: 1.8em;
	}
	#testimonial {
		.item {
			padding: 2em;
		}
	}
	.contact-image {
		margin-top: 0;
	}
}
@media only screen and (max-width: 480px) {
	h1 {
		font-size: 2em;
	}
	#home {
		h3 {
			font-size: 14px;
		}
	}
	.entry-form {
		border-radius: 0;
		padding: 2em;
		max-width: 100%;
		max-height: 100%;
		width: inherit;
		height: inherit;
	}
}
